@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300;500&family=Montserrat:wght@400;800&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 1px solid black; */
  /* height: 100%; */
}

body {
  background-color: #efddb5;
}
.NavigationBar {
  position: fixed;
  width: 100vw;
  height: auto;
}

#logo{
  font-family: 'Changa', sans-serif;
  font-size: 20pt;
  color: black;
  margin-left: 10px;
}

.navigation {
  font-family: 'Changa', sans-serif;
  font-weight: 300;
  margin: 10px 20px 10px 20px;
  transition: 0.3s;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

a {
  display: block;
  color: black;
}


li a {
  display: block;
  text-align: center;
  text-decoration: none;
}

#teaser {
  display : flex;
  flex-direction: column;
  align-items : center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image: url('background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size:100% auto;
}



#teaserContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-align: right;
  font-size: 350%;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 3px;
  line-height: 1.2;
  height: auto;
  margin-left: 50%;
  text-shadow: 2px 2px 8px;

}

#videoLink img {
  width: 100px;
  height: 100px;
  margin-top: 5vh;
}


.MainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: auto;
}

.MainContainer h1 {
  margin-top: 8vh;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 3px;
  font-weight: 700;
}


#aboutText img {
  width: 700px;
  height: auto;
  margin: 5vh 0 5vh 0;
  border: 1px solid ;
  box-shadow: 5px 10px;
  border-radius: 8px;
  transition: ease-Out 0.7s;


}

#aboutText img:hover {
  width: 140%;
  transition: ease-In 0.7s;
}

#aboutText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 2;
  width: 700px;
  margin-top: 5vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

#title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 15pt;
  text-decoration: underline;
}

#title:hover {
  color: #298989;
}


.actorContainer {
  display: flex;
  flex-direction: row;
  padding-top: 5vh;
  /* margin: 0 15vw 0 15vw; */
}


.detailsContainer {
  display: flex;
  flex-direction: column;
  font-size: 12pt;
  justify-content: center;

}

.detailsContainer img {
  width: 550px;
  height:auto;
  margin: 5vh 1vw 0 0;
  border-radius: 8px;
  border: 1px solid;
  box-shadow: 5px 10px;

}

.detailsContainer p {
  margin-bottom: 5vh;
  margin-top: 30px;
}

.footer {
  padding: 10vh 0 5vh 0;
  text-align: center;
  font-size: 8pt;
  line-height: 2;

}

#video {
  margin-top: 10vh;
  width: 80vw;
  height:auto;
}
