#container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;
}

#image {
  width: 500px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: 1s linear all;
}
